.row							
	.col-sm-12
		.page-header
			#content
				%center
					%h1
						%br
						Le Bon Coiin
.row
	%center
		%li
			= link_to "Créer une nouvelle annonce", new_annonce_path
.row
	%center
		- @annonces.each do |an|
			%h3
				= an.titre
			%p
				= an.description
			%li
				= link_to 'Show', an
