.row
	%nav{class: "navbar navbar-inverse navbar-fixed-top", role: "navigation"}
		%div{class: "container"}
			%titreBlanc
				%strong
					.col-sm-4
					.col-sm-2
						Inscrivez vous :
					.col-sm-3
						%label 
							Votre pseudo :
							%input{type: "text", name: "pseudo", id: "pseudo", require: "true"}
					.col-sm-3			
						%label
							votre mot de passe :
							%input{type: "password",name: "pass",id: "pass",require: "true"} 
								
	.col-md-12
		.page-header
			#content
				%center
					%h1
						%br
						Le Bon Coiin
.row
	.col-md-8
		%li
			= link_to "Créer une nouvelle annonce", new_annonce_path
.row
	.col-md-12
		- @annonces.each do |an|
			%h3
				= an.titre
			%p
				= an.description
			%li
				= link_to 'Show', an
