<!DOCTYPE html>
<html>
  <head>
    <title>Le Bon Coiin</title>
   <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap
.min.css" integrity="sha384­
1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
crossorigin="anonymous"> 
   <link rel="stylesheet" type="text/css" href="assets/application.css">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
 <html>
 <body>
 <nav class="navbar navbar-inverse navbar-fixed-top", role="navigation", style="background-color:#0080FF">
	<div class="container">
	<div class="row">
			<h5>
			<strong>
				<div class="col-sm-3">Bienvenu sur Le bon coiin</div>
				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<label>
						Pseudo :</label>
						<input type="text" name="pseudo" id="pseudo"/></div>
				<div class="col-sm-4">			
					<label>
						Mot de Passe :</label>
						<input type="password" name="pass" id="pass"/></div></strong></h5></div></div></nav></br></br></br></br>
<center> <%= image_tag "/assets/logo_ENSIIE.png"%></center>
 <%= yield %>
</body>
</html>
