<!DOCTYPE html>
<html>
  <head>
    <title>Le Bon Coiin</title>
   <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap
.min.css" integrity="sha384­
1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
crossorigin="anonymous"> 
   <link rel="stylesheet" type="text/css" href="application.css">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <html>
 <body>
 <%= yield %>
    <%= image_tag "/assets/logo_ENSIIE.png"%>
 </body>
</html>
